<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  &copy; 2025, CSE 340 | NDARAMA Mark
  <br>
  <a href="/cause-error" style="color: #d9534f;">Cause a Server Error (Test)</a>
</footer>

