<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %> | CSE 340</title>
  
  <!-- Google Fonts: Open Sans for body, Montserrat for headings/nav -->
  <link rel="preconnect" href="https://fonts.gstatic.com" media="screen">
  <link
    href="https://fonts.googleapis.com/css2?
      family=Open+Sans:wght@400;600&family=Montserrat:wght@500;700&display=swap"
    rel="stylesheet"
    media="screen"
  >

  <!-- Your external stylesheet -->
  <link 
    rel="stylesheet" 
    href="/css/styles.css" 
    media="screen"
  >
</head>
