<header id="top-header">
   <div class="logo">
     <a href="/" title="Return to home page">CSE Motors</a>
   </div>
   <div class="account-link">
     <a href="/account/login" title="Click to log in">My Account</a>
   </div>
</header>