<nav>
  <ul>
    <li><a href="/" title="Go to Home page">Home</a></li>
    <li><a href="/inv/classification/Custom" title="View Custom vehicles">Custom</a></li>
    <li><a href="/inv/classification/Newcar" title="View Newcar">Newcar</a></li>
    <li><a href="/inv/classification/Sedan" title="View Sedans">Sedan</a></li>
    <li><a href="/inv/classification/Sport" title="View Sport">Sport</a></li>
    <li><a href="/inv/classification/SUV" title="View SUVs">SUV</a></li>
    <li><a href="/inv/classification/Truck" title="View Trucks">Truck</a></li>
  </ul>
</nav>
