<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Vehicle Management</h1>
<% } %>

<% if (messages.notice) { %>
  <p class="notice"><%= messages.notice %></p>
<% } %>

<% if (messages.error) { %>
  <p class="error"><%= messages.error %></p>
<% } %>

<div class="management-links">
  <h2>Management Options</h2>
  <ul>
    <li>
      <a href="/inv/add-classification" title="Add a new classification">Add New Classification</a>
    </li>
    <li>
      <a href="/inv/add-inventory" title="Add a new vehicle to inventory">Add New Vehicle</a>
    </li>
  </ul>
</div>